Source: xmlrpc++
Priority: optional
Maintainer: Gordon Maclean <maclean@ucar.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Section: libs
Homepage: http://svn.eol.ucar.edu/svn/eol/imports/xmlrpc++

Package: xmlrpc++-dev
Section: libdevel
Architecture: any
Depends: xmlrpc++ (= ${binary:Version}), ${misc:Depends}
Description: Old xmlrpc++ library
 Needed until we upgrade the DSMs to Debian8 and can convert to libxmlrpc-c

Package: xmlrpc++
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Old xmlrpc++ library
 Needed until we upgrade the DSMs to Debian8 and can convert to libxmlrpc-c
